<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue test</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="app.js" defer></script>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div id="app">

        <div class="container">
        <!-- <input 
        v-model.lazy="blockWidth"
        type="text" class="border-1 border border-black w-1/2 p-4" placeholder="Введите длину блока"> -->

            <article class="track">
                <img :src="trackImage" alt="track image" class="track__image">
                <p class="track__info">{{ fullName }}</p>
                <svg 
                @click="addLike" 
                class="track__like" 
                :class="{ track__like_actived : isLike }"
                viewBox="0 0 20 19" 
                xmlns="http://www.w3.org/2000/svg">
                    <path 
                     d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z"/>
                </svg>
            </article>  

            <!-- <div class="msg">
                <p v-if="isLike">Вы лайкнули фото</p>
                <p v-else>Вы не лайкнули фото</p>
                <p v-show="isLike">Показывается, не удаляется со страницы</p>
            </div>
            <div class="msg">
                <p>похожие треки</p>
                <ul class="list">
                    <li v-for="(track, index) in similarTracks">
                        {{ index + 1 }}. {{ track.name }} - {{ track.duration }} 
                    </li>
                </ul>
            </div> -->

            <label>box width {{ boxW }}</label>
            <input type="range" v-model="boxW" min="50" max="200">
            <button @click.prevent="copyWidth">Copy W</button>
            <label>box height {{ boxH }}</label>
            <input type="range" v-model="boxH" min="50" max="200">
            <button @click.prevent="copyHeight">Copy H</button>
            <button @click.prevent="copyAll">Copy All</button>

            <div 
            style="background-color: red;"
            :style="sizeBox"
            ></div>
        </div>
        
    </div>

</body>
</html>